@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

header {
  background-color: #fff;
}

.ambuger-menu {
  display: flex;
  flex-direction: column;
}

.bar {
  display: block;
  width: 33px;
  height: 3px;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #162ae3;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

section {
  padding: 5rem 1.25rem 6rem;
  background-color: #fff;
}

section:nth-of-type(1) {
  border-bottom-left-radius: 80px;
  background-image: url("./images/Header\ bg\ desktop.png");
  background-repeat: no-repeat;
}

.section-head p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  padding-top: 30px;
}

.section-head h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  font-style: normal;
}

.self-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head-connect {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-top: 5px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.nav-logo a {
  width: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding-left: 80px;
}

.list-items {
  display: flex;
  gap: 10px;
}

.list-items img {
  height: 15px;
  width: 15px;
}

.list-items li {
  list-style: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.project-card {
  flex-direction: column;
  gap: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 50px;
}

.project-meta {
  padding: 8px 0;
  width: 100%;
  gap: 12px;
  align-items: center;
}

p.bold {
  font-weight: 600;
  text-transform: uppercase;
}

.project-meta p {
  font-size: 13px;
  color: #7a869a;
  padding: 8px 0;
}

.round {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

p .project-note {
  font-size: 13px;
  color: #162ae3;
}

ul {
  list-style-type: none;
}

.project-skills {
  gap: 8px;
  margin: 12px 0;
}

.project-skills li {
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
  font-size: 12px;
  color: #162ae3;
  font-weight: bold;
}

span {
  display: inline-block;
}

button {
  margin-top: 24px;
  padding: 12px;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  font-size: 17px;
  width: fit-content;
}

.header-text {
  max-width: 50%;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.para-text {
  margin: 12px 0;
}

ul.list-items.skill-items {
  margin-top: 12px;
  gap: 24px;
}

.language {
  margin-top: 24px;
  gap: 12px;
}

.lang-text {
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  color: #000;
  font-weight: 500;
  width: 100%;
  padding: 16px;
}

.skill-text {
  font-size: px;
  color: #253858;
  font-weight: 500;
}

.lang-line {
  font-weight: 500;
  color: #5e6c84;
  transform: rotate(90deg);
}

.line:nth-of-type(1) {
  rotate: 90deg;
}

.lang-list {
  align-items: center;
  padding: 24px;
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  line-break: red;
}

.lang-div {
  gap: 12px;
}

hr.hr-line {
  border: 1px solid #bbb;
}

.portfolio_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  bottom: 8px;
  border-radius: 4px;
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  margin: 14px 0;
  font-weight: bold;
}

.portfolio_button:hover {
  background: blue;
  color: white;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transition: all 300 ease-in-out;
}

.about_button {
  display: flex;
  color: #396df2;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  transition: all 300 ease-in-out;
}

.about_button:hover {
  background: blue;
  color: white;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transition: all 300 ease-in-out;
}

.about_button:active {
  background: darkblue;
}

.about_bottom {
  margin: 59px 0;
  display: flex;
  gap: 24px;
}

/* ***************************************contact form start here******************************************** */

#contact_form {
  height: 769px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 60px;
  background-repeat: no-repeat;
  background-color: #6070ff;
  background-position: right;
  margin-top: -50px;
}

.form_container {
  background-image: url(./image/contact-form-shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.contact_header1 {
  display: flex;
  color: white;
  padding-left: 120px;
  padding-top: 103px;
  height: 56px;
  top: 4734px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  size: 40px;
  line-height: 52px;
  align-items: center;
}

.contact_header2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin: 0 24px 58px 24px;
  padding-top: 60px;
  width: 450px;
  height: 102px;
  left: 24px;
  top: 4802px;
}

form {
  width: 100%;
}

.contact_form {
  padding-top: 70px;
}

.contact_form ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 24px;
  margin: 0 24px;
}

.contact_form ul li {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: left;
}

.contact_form ul li input {
  width: 430px;
  height: 48px;
  border-radius: 2px;
  padding: 14px 15.5px;
  border: 1px;
}

.contact_form ul li textarea {
  width: 430px;
  height: 170px;
  margin-top: 10px;
  border-radius: 2px;
}

.contact_button {
  display: flex;
  justify-content: left;
  color: blue;
  font-weight: bold;
  border: 1px solid white;
  align-items: stretch;
  background-color: white;
  flex-direction: row;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  left: 24px;
  top: 5317px;
}

#socials {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  padding: 24px 0;
}

.contact_socials {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 40px 0 0 0;
  align-items: center;
}

.contact_email {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 147px;
  margin-top: 0;
}

.footer #social {
  margin-left: 0;
}

.toolbar {
  display: none;
}

.desktop {
  display: none;
}

#about {
  padding-bottom: 8rem;
}

.desktop-project-title {
  display: none;
}

.desktop-p-note {
  display: none;
}

.line-image {
  display: flex;
  padding-left: 120px;
  padding-top: 10px;
}

.desktop-about {
  display: none;
}

.contact_section {
  background-image: url(./images/contact-form\ backgroung.png);
}

/* //Animation & Transition start here.  */

.nav-logo {
  animation: rotate infinite  4s;
}

@keyframes rotate {
  0%{
    color: #8993a4;
    transform: rotate(0);
  }

  50%{
    color: #204fa1;
    transform: rotate(170deg);
  }

  75%{
    color: #b0171e;
    transform: rotate(270deg);
  }

  100%{
    color: #0c8d0c;
    transform: rotate(360deg);
  }
}

/* below code  from 768px to 992px, desktop styles start here */
@media (min-width: 768px) {
  .toolbar {
    width: 300px;
    display: block;
    padding-right: 60px;
  }

  .project-card {
    background: #fff;
    flex-direction: row;
  }

  .project-card:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
  }

  .desktop-project-title {
    display: flex;
  }

  .mobile-about {
    display: none;
  }

  .desktop-about {
    display: flex;
  }

  .line-image {
    display: none;
  }

  .head-section {
    padding-bottom: 30%;
  }

  .project-section {
    background-color: #dfe1e6;
  }

  .major-container {
    margin-left: 70px;
  }

  .lang {
    display: inline-block;
    color: red;
    flex-direction: row;
  }

  .lang-list {
    display: inline-block;
    height: 150px;
    width: 145px;
  }

  .project-title {
    display: none;
  }

  .desktop-p-note {
    display: flex;
    padding-bottom: 15px;
  }

  .mobile-p-note {
    display: none;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .project-card:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .about-container {
    flex-direction: row;
  }

  .lang-div {
    flex-direction: row;
    padding-right: 140px;
  }

  .list-items img {
    height: 15px;
    width: 15px;
  }

  .toolbar_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .ambuger-menu {
    display: none;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
  }

  .contact_section {
    background-image: url(./images/contact-form\ backgroung.png);
  }

  section {
    padding: 5rem 7.25rem 6rem;
    background-color: #fff;
  }
}
